<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>config</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=360, maximum-scale=1.0"/>-->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!--<link rel="stylesheet" href="css/libs.min.css">-->
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/new-main.css">
</head>

<body>
    <div class="configurator">
        <div class="config active">
            <a href="" class="config-close"></a>
            <div class="config-popup">
                <img src="img/config1.png" alt="" class="config-popup-img">
                <form action="" class="config-form">
                    <input type="text" class="config-form-input" placeholder="Имя Фамилия" required>
                    <input type="email" class="config-form-input" placeholder="Email" required>
                    <button class="config-form-btn">перейти к генератору подарков</button>
                </form>
            </div>
        </div>
        <div class="config-choice">
            <div class="config-choice-block">
                <label class="config-choice-label config-choice-label_first">
                    <input type="radio" name="state" class="config-choice-input">
                </label>
                <label class="config-choice-label config-choice-label_second">
                    <input type="radio" name="state" class="config-choice-input">
                </label>
                <a href="" class="config-logo">
                    <img src="img/present.svg" alt="" class="config-logo-img">
                </a>
                <h2 class="config-choice-title">Генератор Подарков</h2>
                <p class="config-choice-text">Если до сих пор не знаете что подарить близким , друзьям или коллегам то Вам очень повезло. Мы уже все нашли и придумали, Вам нужно только пройти тест.</p>
                <div class="config-question">
                    <p class="config-question-title">Кого вітаємо?</p>
                    <div class="config-question-flex">
                        <div class="config-question-item">
                            <img src="img/w.svg" alt="" class="config-question-img config-question-img_first">
                            <p class="config-question-text">Жінка</p>
                        </div>
                        <div class="config-question-item">
                            <img src="img/m.svg" alt="" class="config-question-img config-question-img_second">
                            <p class="config-question-text">Чоловік</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="config-steps">
            <div class="config-item">
                <div class="config-item-left">
                    <img src="img/men2.jpg" alt="" class="config-item-img">
                    <img src="img/question9.jpg" alt="" class="config-item-img">
                    <img src="img/men2.jpg" alt="" class="config-item-img">
                    <img src="img/question9.jpg" alt="" class="config-item-img">
                    <img src="img/men2.jpg" alt="" class="config-item-img">
                    <img src="img/question9.jpg" alt="" class="config-item-img">
                    <img src="img/men2.jpg" alt="" class="config-item-img">
                    <img src="img/question9.jpg" alt="" class="config-item-img">
                    <img src="img/men2.jpg" alt="" class="config-item-img">
                    <img src="img/question9.jpg" alt="" class="config-item-img">
                </div>
                <div class="config-item-right">
                    <div class="config-item-flex">
                        <div class="config-item-numbers">
                            <span class="config-item-numbers_current">1</span>
                            <span class="config-item-numbers_all">/ 10</span>
                        </div>
                        <a href="" class="config-logo">
                            <img src="img/present.svg" alt="" class="config-logo-img">
                        </a>
                    </div>
                    <form class="config-item-form">
                        <div class="config-item-change">
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="one" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="one">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="one">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Син</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="one">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Брат</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="one">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Друг</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="one">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Колега</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо2?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Син</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Брат</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Друг</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Колега</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="two">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Колега</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо3?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Син</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Брат</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Друг</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Колега</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="three">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Колега</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо4?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="fourth" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="fourth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо5?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="fifth" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="fifth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо6?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="sixth" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="sixth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо7?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="seventh" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="seventh">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо8?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="eight" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="eight">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Уявіть, Ви сіли в машину з бургером і розкришили його, яка буде реакція у цієї людини?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ninth" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Скаже «нічого страшного, мені все одно на мийку потрібно»</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ninth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Побурчить і попросить Вас прибрати</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ninth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Навіть не зверне уваги</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ninth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Ви бачили, як ганяє Даніель в фільмі Таксі, так ось, Вас чекає така ж поїздка, і Ви пошкодуєте, що перед цим їли</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ninth">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Так, він сам постійно їсть і п'є каву в машині</span>
                                </label>
                            </div>
                            <div class="config-item-row">
                                <p class="config-item-title">Кого вітаємо10?</p>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ten" checked>
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Тато / Свекор / Тесть</span>
                                </label>
                                <label class="config-item-label">
                                    <input type="radio" class="config-item-input" name="ten">
                                    <span class="config-item-span"></span>
                                    <span class="config-item-text">Чоловік / Хлопець</span>
                                </label>
                            </div>
                        </div>
                        <button class="config-item-btn">Наступне питання</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="result">
            <div class="result-top">
                <div class="result-top-left">
                    <img src="img/result-pack.png" alt="" class="result-top-img">
                    <img src="img/result-mob.png" alt="" class="result-top-img result-top-img_mobile">
                </div>
                <div class="result-top-right">
                    <a href="" class="config-logo">
                        <img src="img/present.svg" alt="" class="config-logo-img">
                    </a>
                    <h4 class="result-top-title">Вашы подарки готовы</h4>
                    <p class="result-top-text">То, что в семье подрастает гик – это, скорее, повод для гордости. Вырастет – может, будет строить свой Hyperloop. Или придумает и нарисует новую компьютерную игрушку.</p>
                </div>
            </div>
            <div class="result-main">
                <div class="catalog-grid">

                </div>
            </div>
            <div class="result-btns">
                <a href="" class="my-btn gray-btn result-btns_first">Просмотреть все подарки</a>
                <a href="" class="my-btn gray-btn result-btns_second">Пройти тест еще раз</a>
                <a href="" class="my-btn gray-btn result-btns_third">Выбрать подарок для Себя</a>
            </div>
        </div>
    </div>


<script src="js/jquery.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
